
.container {
    position: relative;
    z-index: 10;
}

.button__child {
    padding: 1.6rem;
    background-color: #fff;
    list-style: none;
}

.button__child:hover {
    background-color: #ddd;
    color: royalblue;
}

.button__child:first-child {
    border-top: 2px solid royalblue;
}